/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --light-color: rgb(229, 230, 231);
  --dark-color: #333;
  --gold-color: #cb9b22;
  --light-grey: rgb(209, 207, 207);
  --navbar-margin: 15%;
  --carousel-img-size: 400px;
  --carousel-card-width: 450px;
  --carousel-card-height: 430px;
}

/* core styling */
body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  height: 100vh;
  color: var(--dark-color);
}

img {
  max-width: 100%;
}

/* navbar styling */
#main-nav {
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 2;
}
#main-nav .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#main-nav a {
  color: var(--dark-color);
  padding: 0.75rem;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: bold;
}

#main-nav a.current {
  background: var(--dark-color);
  color: var(--gold-color);
  padding: 1rem;
  border-radius: 20px;
}

#main-nav ul {
  display: flex;
  flex-direction: row;
  margin-right: var(--navbar-margin);
  list-style: none;
}

#main-nav li {
  margin-top: 5px;
}

#logo {
  max-width: 80px;
  max-height: 80px;
  margin: 1.5% var(--navbar-margin);
}

#logo-text {
  font-family: "Playball", cursive;
  text-shadow: 3px 3px 0 var(--dark-color);
}

#logo-text span {
  text-shadow: none;
}

#main-nav h1 {
  color: var(--gold-color);
  font-weight: bold;
  font-size: 5rem;
  z-index: 1;
}

#main-nav h1 span {
  color: rgb(8, 8, 8);
  font-size: 2.5rem;
}

/*--------- showcase styling -------------*/
.pinstripe {
  width: 100%;
  height: 1rem;
}

#pinstripe-1 {
  background-color: var(--gold-color);
}

#pinstripe-2 {
  background-color: var(--dark-color);
}
.showcase-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#showcase:before {
  content: "";
  background: rgba(8, 8, 8, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#showcase {
  background: url("img/showcase.JPG") no-repeat center center/cover;
  position: relative;
  height: 100%;
  width: 100%;
}

#showcase h1 {
  color: var(--gold-color);
  font-weight: bold;
  font-size: 8rem;
  z-index: 1;
  text-shadow: 3px 3px 0px var(--light-color), 6px 6px 0px var(--dark-color);
}

#showcase h1 span {
  color: var(--light-color);
  font-size: 4rem;
  text-shadow: 2px 2px 0px var(--gold-color);
}

#showcase p {
  color: var(--light-grey);
  font-size: 2rem;
  z-index: 1;
}

/*---------- carousel styling --------------------*/
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

#carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--carousel-card-width);
  height: var(--carousel-card-height);
  background-color: var(--light-grey);
  border-radius: 5px;
  margin-top: 2%;
}
.carousel {
  height: var(--carousel-img-size);
  width: var(--carousel-img-size);
  overflow: hidden;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.carousel h1 {
  margin: 2%;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.image-container img {
  height: var(--carousel-img-size);
  width: var(--carousel-img-size);
  object-fit: cover;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-top: 1%;
}

.btn {
  background-color: var(--gold-color);
  color: var(--light-color);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 40%;
}

/*---------- card container styling ---------------*/

main .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 75vw;
}

.card {
  display: flex;
  background-color: var(--light-color);
  max-width: 35vw;
  margin: 2rem 1rem 0 0;
}

/* gives all columns in card even sizing */
.card > * {
  flex-basis: 100%;
}

.card i {
  display: block;
}

.card-header {
  margin: 0.5rem;
}

.vehicle-features ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1.5rem;
}

.vehicle-features ul li {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}

.vehicle-info i {
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem 0 1.5rem;
}

/*--------- footer styling -------------*/
.footer-container {
  background: var(--dark-color);
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
}

.footer-container #logo-light {
  padding: 1rem;
  max-width: 100px;
  max-height: 100px;
  margin-left: var(--navbar-margin);
}

.footer-container ul {
  display: flex;
  flex-direction: row;
  margin-right: var(--navbar-margin);
}

.footer-container li {
  color: #fff;
  padding: 1rem;
  margin-right: 1rem;
  list-style: none;
}

.footer-container li a {
  color: #fff;
  text-decoration: none;
}

/*------------- About page styling -------------*/

#about-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.about-card > * {
  flex-basis: 100%;
}
.about-showcase-container {
  color: var(--dark-color);
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60vw;
}

.about-showcase-container iframe {
  margin-left: 70%;
  outline: 0.25rem solid var(--dark-color);
}

.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.25rem;
  margin: 2rem 0;
  border-right: 0.25rem double var(--dark-color);
}

.about-card-2 > * {
  flex-basis: 100%;
}

.about-card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0.25rem;
  margin: 2rem 0;
  border-left: 0.25rem double var(--dark-color);
}

.about-card p,
.about-card-2 p {
  font-size: 1.5rem;
  padding: 2rem;
}

.about-card img,
.about-card-2 img {
  max-height: 475px;
  max-width: 475px;
}
